Options -indexes
Options +FollowSymlinks
RewriteEngine On
RewriteBase /
RewriteRule ^(.+).mp4$ /yb.php [NC,L]
RewriteRule ^(.+).mp4$ /arabseed.php [NC,L]
RewriteRule ^(.+).mp4$ /vid.php [NC,L]
RewriteRule ^(.+).mp4$ /moshahda.php [NC,L]
RewriteRule ^(.+).mp4$ /egy.php [NC,L]
RewriteRule ^(.+).m3u8$ /$1.php [NC,L]
RewriteRule ^(.+).m3u$ /file.php [NC,L]
RewriteRule ^/?live/([^/]+)$ live.php?ch=$1 [NC,L]
RewriteRule ^([^/\.]+)/([^/\.]+)$ new.php?user=$1&ch=$2 [NC,L]
